body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F5E7DE;
    color:black;
  }
  
  header {
    background: #F2BFA4;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  
  nav a {
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  #menu-items, #event-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  form input, form button {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
  }

  div div{
    border: 2px solid black;
  }

  #menu-items img {
    width: 200px;
  }

  /* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.modal-content h2 {
font-size: 2rem;
margin-bottom: 1rem;
}

.modal-content h3 {
font-size: 1.5rem;
margin-bottom: 1rem;
}

.modal-content p {
font-size: 1.25rem;
margin-bottom: 1rem;
}

.modal-content ul {
list-style-type: none;
margin-bottom: 1rem;
}

.modal-content ul li {
margin-bottom: 0.5rem;
}

.modal-content img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
aspect-ratio: 4/1;
/* cover */
object-fit: cover;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
  